.home-section {
    position: relative;
    background: #16191c;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section,
.sidebar.close~.section-body {
    left: 78px;
    width: calc(100% - 78px);
}

.home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #bbc4cc;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}